@import "variables";
@import "menu";
@import "login";

body {
	background:$white;
}
header {
	margin-top:80px;
}
input, textarea, select {
    padding: 10px 15px;
}
textarea {
	white-space: pre-wrap;
}
label {
	width:100%;
}
.background {
	position: fixed;
	width:100%;
	height:100vh;
	top:0;
	left:0;
	z-index:-1;
	& .overlay {
		@include overlay;
		opacity: .9;
	}
}
#insert_prod {
	& > div {
		margin-top:15px;
	}
	& label, & input {
		width:100%;
	}
	& input {
	    padding: 10px 15px;
	}
	& select {
		display: inline-block;
		padding: 12px 15px;
	}
	& .addfield {
		padding: 12px 2px;
		display: inline-block;
	}
}
.add_dipendente {
	& .first_block > div {
		margin-top: 15px;
	}
	& input, & label {
		width: 100%;
	}	
	& input {
	    padding: 10px 15px;
	    &#reg_dipendente {
	    	width: 100%;
	    	height: 40px;
	    }
	}
	& .reg_mi {
		display: none;
	}
	& .endform {
		padding:15px;
	}
}
#Mov_mag {
	& > div {
		margin-top:20px;
	}
	& label, & input, & textarea { 
		width: 100%;
	}
	& textarea {
		padding: 15px;
	}
	& .radio {
	  display:inline-block;
	  & input[type="radio"] {
	  	display:none;
	  	& + label {
		    color: $greyhard;
		    font-family:Arial, sans-serif;
		    font-size:14px;
		    & span {
			    display:inline-block;
			    width:19px;
			    height:19px;
			    margin:-1px 4px 0 0;
			    vertical-align:middle;
			    cursor:pointer;
			    @include border-radius( 50% );
			     background-color:$greyhard;
			}
	  	}
	  	&:checked + label span{
		     background-color:$pink;
		}
		& + label span,
		&:checked + label span {
			@include css3-prefix('transition',  "background-color 0.4s linear");
		}
	  }
	}
}
#search_client {
	cursor: pointer;
	color: $pink;
}
#form_search {
	display:none;
}
.radio {
  display:inline-block;
  & input[type="radio"] {
  	display:none;
  	& + label {
	    color: $greyhard;
	    font-family:Arial, sans-serif;
	    font-size:14px;
	    & span {
		    display:inline-block;
		    width:19px;
		    height:19px;
		    margin:-1px 4px 0 0;
		    vertical-align:middle;
		    cursor:pointer;
		    @include border-radius( 50% );
		     background-color:$greyhard;
		}
  	}
  	&:checked + label span{
	     background-color:$pink;
	}
	& + label span,
	&:checked + label span {
		@include css3-prefix('transition',  "background-color 0.4s linear");
	}
  }
}
form.add_scheda_cliente {
	& #card, & #trattamentom, & #prodotti {
		display: none;
	}
}
#bodydetails {
	font-size:20px;
}
.box_home {
	background:$white;
	margin-top:40px;
	& a {
		display: block;
		width: 100%;
		height: 100%;/*
		& .utenti {
			background-image: url('../img/utenti.png');
			background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			background-position:center center;
		}
		& .magazzino {
			background-image: url('../img/magazzino.png');
			background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			background-position:center center;
		}
		& .clienti {
			background-image: url('../img/clienti.png');
			background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			background-position:center center;
		}
		& .fornitori {
			background-image: url('../img/fornitori.png');
			background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			background-position:center center;
		}
		& .schede {
			background-image: url('../img/schede.png');
			background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			background-position:center center;
		}
		& .utenti {
			background-image: url('../img/utenti.png');
			background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			background-position:center center;
		}*/
		& span {
			display: block;
			background:$white;
		}
	}
}