@import "variables";
@import "menu";
@import "login";

body {
	background:$white;
}
header {
	margin-top:80px;
}
#insert_prod {
	& > div {
		margin-top:15px;
	}
	& label, & input {
		width:100%;
	}
	& select.withadd {
		width: 85%;
		display: inline-block;
		padding: 3px 2px;
	}
	& .addfield {
		width: 10%;
		margin-left: 3%;
		padding: 3px 2px;
		display: inline-block;
	}
}
